var timeTransform = function (time) {
  if (typeof (time) !== "string") return time
  if (time.search("T") !== -1) {
    var res = ""
    res += time.split('T')[0]
    res += " "
    var t = time.split('T')[1].split('Z')[0].split('.')[0].split(':')
    res += t[0] + ":" + t[1]
  }else{
    var res = time
  }

  var date = getDate()
  if (res.split('-')[0] === date.getFullYear().toString()) {
    res = res.substring(res.search('-') + 1, res.length)
  }
  if (res.split(' ')[0] === (date.getMonth()+1).toString() + '-' + date.getDate().toString()) {
    res = res.substring(res.search(' ') + 1, res.length)
  }
  return res
}



var acronymTransform = function (status) {
  switch (status) {
    case 'RET':
      return "已归还"
    case "OPN":
      return "发布中"
    case "CLS":
      return "已下架"
    case "DFT":
      return "未发布"
    case "PUB":
      return "寻找中"
    case "PHN":
      return "手机"
    case "WCT":
      return "微信"
    case "EML":
      return "邮箱"
  }
  return status
}

module.exports = {
  acronymTrans: acronymTransform,
  timeTrans: timeTransform
}